<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Dashboard for TaskClutser migration" />
  <meta name="author" content="Dustin J. Mitchell" />
  <title>TaskCluster Migration</title>
</head>
<body>
  <div id="root"></div>
  <script src="/workgraph.js"></script>
</body>
</html>
